.scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_element--clippathdown {
  animation-name: clipPathDown;
}

@keyframes clipPathDown {
  0% {
    clip-path: circle(100.2% at 50% 100%);
    clip-path: circle(0 at 0 0%);
  }

  100% {
    clip-path: circle(150% at 0 0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn linear;
  animation-timeline: view(); /* The bells */
  animation-range: entry cover 20%; /* The whistles */
}
